interactions:
    - request:
          body: null
          headers:
              authorization:
                  - XXXXXXXXXX
          method: GET
          uri: https://api.github.com/repos/juftin/browsr/git/trees/v1.6.0
      response:
          body:
              string: '{"sha":"b80ea1937572041e2ed884f3d17919a7324b080b","url":"https://api.github.com/repos/juftin/browsr/git/trees/b80ea1937572041e2ed884f3d17919a7324b080b","tree":[{"path":".github","mode":"040000","type":"tree","sha":"a901aed96b47ecefdef6bf3530856065a76ff9f8","url":"https://api.github.com/repos/juftin/browsr/git/trees/a901aed96b47ecefdef6bf3530856065a76ff9f8"},{"path":".gitignore","mode":"100644","type":"blob","sha":"7e0d4d450a35a973ed5d4d1eeb749861ffb68ecf","size":2804,"url":"https://api.github.com/repos/juftin/browsr/git/blobs/7e0d4d450a35a973ed5d4d1eeb749861ffb68ecf"},{"path":".pre-commit-config.yaml","mode":"100644","type":"blob","sha":"a9d8704a8c8511e6a430032ec2615c3dfeb7fb84","size":1379,"url":"https://api.github.com/repos/juftin/browsr/git/blobs/a9d8704a8c8511e6a430032ec2615c3dfeb7fb84"},{"path":".releaserc.js","mode":"100644","type":"blob","sha":"71ebbd3ec251758bf9e3ac6b1c246808af9d289a","size":1574,"url":"https://api.github.com/repos/juftin/browsr[...]
[...]
    - request:
          body: null
          headers:
          method: GET
          uri: https://raw.githubusercontent.com/juftin/browsr/v1.6.0/README.md
      response:
          body:
              string:
                  "# browsr\n\n<div align=\"center\" href=\"https://github.com/juftin/browsr\">\n
                  \   <a href=\"https://github.com/juftin/browsr\">\n      <img src=https://raw.githubusercontent.com/juftin/browsr/main/docs/_static/browsr.png\n
                  \       width=\"400\" alt=\"browsr\">\n    </a>\n</div>\n\n[![browsr Version](https://img.shields.io/pypi/v/browsr?color=blue&label=browsr)](https://github.com/juftin/browsr)\n[![PyPI](https://img.shields.io/pypi/pyversions/browsr)](https://pypi.python.org/pypi/browsr/)\n[![Testing
                  Status](https://github.com/juftin/browsr/actions/workflows/tests.yaml/badge.svg?branch=main)](https://github.com/juftin/browsr/actions/workflows/tests.yaml?query=branch%3Amain)\n[![GitHub
                  License](https://img.shields.io/github/license/juftin/browsr?color=blue&label=License)](https://github.com/juftin/browsr/blob/main/LICENSE)\n\n**`browsr`**
                  is a TUI (text-based user interface) file browser for your terminal.\nIt's
                  a simple way to browse your files and take a peek at their contents. Plus
                  it\nworks on local and remote file systems.\n\n<details open></summary></summary>\n\n<body>\n<div
                  style=\"display: grid; grid-template-columns: repeat(2, 1fr); grid-gap: 10px;\">\n
                  \   <img src=\"https://raw.githubusercontent.com/juftin/browsr/main/docs/_static/screenshot_utils.png\"
                  alt=\"Image 1\">\n    <img src=\"https://raw.githubusercontent.com/juftin/browsr/main/docs/_static/screenshot_datatable.png\"
                  alt=\"Image 2\">\n    <img src=\"https://raw.githubusercontent.com/juftin[...]
