interactions:
    - request:
          body: null
          headers:
              authorization:
                  - XXXXXXXXXX
          method: GET
          uri: https://api.github.com/repos/juftin/browsr
      response:
          body:
              string:
                  "{\"id\":635626551,\"node_id\":\"R_kgDOJeLkNw\",\"name\":\"browsr\",\"full_name\":\"juftin/browsr\",\"private\":false,\"owner\":{\"login\":\"juftin\",\"id\":49741340,\"node_id\":\"MDQ6VXNlcjQ5NzQxMzQw\",\"avatar_url\":\"https://avatars.githubusercontent.com/u/49741340?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/juftin\",\"html_url\":\"https://github.com/juftin\",\"followers_url\":\"https://api.github.com/users/juftin/followers\",\"following_url\":\"https://api.github.com/users/juftin/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/juftin/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/juftin/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/juftin/subscriptions\",\"organizations_url\":\"https://api.github.com/users/juftin/orgs\",\"repos_url\":\"https://api.github.com/users/juftin/repos\",\"events_url\":\"https://api.github.com/users/juftin/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/juftin/received_events\",\"type\":\"User\",\"user_view_type\":\"public\",\"site_admin\":false},\"html_url\":\"https://github.com/juftin/browsr\",\"description\":\"\U0001F5C2\uFE0F
                  a pleasant file explorer in your terminal supporting all filesystems\",\"fork\":false,\"url\":\"https://api.github.com/repos/juftin/browsr\",\"forks_url\":\"https://api.github.com/repos/juftin/browsr/forks\",\"keys_url\":\"https://api.github.com/repos/juftin/browsr/keys{/key_id}\",\"collaborators_url\":\"https://api.github.com/repos/juftin/browsr/collaborators{/collaborator}\",\"teams_url\":\"https://api.github.com/repos/juftin/browsr/teams\",\"hooks_url\":\"https://api.github.com/repos/juftin/browsr/hooks\",\"issue_events_url\":\"https://api.github.com/repos/juftin/browsr/issues/events{/number}\",\"events_url\":\"https://api.github.com/repos/juftin/browsr/events\",\"assignees_url\":\"https://api.github.com/repos/juftin/browsr/assignees{/user}\",\"branches_url\":\"https://api.github.com/repos/juftin/browsr/branches{/branch}\",\"tags_url\":\"https://api.github.com/repos/juftin/browsr/tags\",\"blobs_url\":\"https://api.github.com/repos/juftin/browsr/git/blobs{/sha}\",\"git_tags_url\":\"https://api.github.com/repos/juftin/browsr/git/tags{/sha}\",\"git_refs_url\":\"https://api.github.com/repos/juftin/browsr/git/refs{/sha}\",\"trees_url\":\"https://api.github.com/repos/juftin/browsr/git/trees{/sha}\",\"statuses_url\":\"https://api.github.com/repos/juftin/browsr/statuses/{sha}\",\"languages_url\":\"https://api.github.com/repos/juftin/browsr/languages\",\"stargazers_url\":\"https://api.github.com/repos/juftin/browsr/stargazers\",\"contributors_url\":\"https://api.github.com/repos/juftin/browsr/contributors\",\"subscribers_url\":\"https://api.github.com/repos/juftin/browsr/subscribers\",\"subscription_url\":\"https://api.github.com/repos/juftin/browsr/subscription\",\"commits_url\":\"https://api.github.com/repos/juftin/browsr/commits{/sha}\",\"git_commits_url\":\"https://api.github.com/repos/juftin/browsr/git/commits{/sha}\",\"comments_url\":\"https://api.github.com/repos/juftin/browsr/comments{/number}\",\"issue_comment_url\":\"https://api.github.com/repos/juftin/browsr/issues/comments{/number}\",\"contents_url\":\"https://api.github.com/repos/juftin/browsr/contents/{+path}\",\"compare_url\":\"https://api.github.com/repos/juftin/browsr/compare/{base}...{head}\",\"merges_url\":\"https://api.github.com/repos/juftin/browsr/merges\",\"archive_url\":\"https://api.github.com/repos/juftin/browsr/{archive_format}{/ref}\",\"downloads_url\":\"https://api.github.com/repos/juftin/browsr/downloads\",\"issues_url\":\"https://api.github.com/repos/juftin/browsr/issues{/number}\",\"pulls_url\":\"https://api.github.com/repos/juftin/browsr/pulls{/number}\",\"milestones_url\":\"https://api.github.com/repos/juftin/browsr/milestones{/number}\",\"notifications_url\":\"https://api.github.com/repos/juftin/browsr/notifications{?since,all,participating}\",\"labels_url\":\"https://api.github.com/repos/juftin/browsr/labels{/name}\",\"releases_url\":\"https://api.github.com/repos/juftin/browsr/releases{/id}\",\"deployments_url\":\"https://api.github.com/repos/juftin/browsr/deployments\",\"created_at\":\"2023-05-03T05:26:39Z\",\"updated_at\":\"2025-08-13T19:04:42Z\",\"pushed_at\":\"2024-04-11T01:43:34Z\",\"git_url\":\"git://github.com/juftin/browsr.git\",\"ssh_url\":\"git@github.com:juftin/browsr.git\",\"clone_url\":\"https://github.com/juftin/browsr.git\",\"svn_url\":\"https://github.com/juftin/browsr\",\"homepage\":\"http://juftin.com/browsr/\",\"size\":14384,\"stargazers_count\":354,\"watchers_count\":354,\"language\":\"Python\",\"has_issues\":true,\"has_projects\":true,\"has_downloads\":true,\"has_wiki\":true,\"has_pages\":true,\"has_discussions\":false,\"forks_count\":19,\"mirror_url\":null,\"archived\":false,\"disabled\":false,\"open_issues_count\":13,\"license\":{\"key\":\"mit\",\"name\":\"MIT
                  License\",\"spdx_id\":\"MIT\",\"url\":\"https://api.github.com/licenses/mit\",\"node_id\":\"MDc6TGljZW5zZTEz\"},\"allow_forking\":true,\"is_template\":false,\"web_commit_signoff_required\":false,\"topics\":[\"file-explorer\",\"python\",\"s3\",\"textual\",\"tui\"],\"visibility\":\"public\",\"forks\":19,\"open_issues\":13,\"watchers\":354,\"default_branch\":\"main\",\"temp_clone_token\":null,\"network_count\":19,\"subscribers_count\":7}"
          headers:
              Content-Type:
                  - application/json; charset=utf-8
              ETag:
                  - W/"8816a35b2fcfc41a4b4a8be7315fcb460ece8f26e9af01ce52b9dd09402276fc"
              Last-Modified:
                  - Wed, 13 Aug 2025 19:04:42 GMT
              X-GitHub-Media-Type:
                  - github.v3; format=json
              X-RateLimit-Limit:
                  - "60"
              X-RateLimit-Remaining:
                  - "28"
              X-RateLimit-Reset:
                  - "1755659251"
              X-RateLimit-Resource:
                  - core
              X-RateLimit-Used:
                  - "32"
              x-github-api-version-selected:
                  - "2022-11-28"
          status:
              code: 200
              message: OK
[...]
