interactions:
    - request:
          body: null
          headers:
              authorization:
                  - XXXXXXXXXX
          method: GET
          uri: https://api.github.com/repos/juftin/browsr
      response:
          body:
              string:
                  "{\"id\":635626551,\"node_id\":\"R_kgDOJeLkNw\",\"name\":\"browsr\",\"full_name\":\"juftin/browsr\",\"private\":false,\"owner\":{\"login\":\"juftin\",\"id\":49741340,\"node_id\":\"MDQ6VXNlcjQ5NzQxMzQw\",\"avatar_url\":\"https://avatars.githubusercontent.com/u/49741340?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/juftin\",\"html_url\":\"https://github.com/juftin\",\"followers_url\":\"https://api.github.com/users/juftin/followers\",\"following_url\":\"https://api.github.com/users/juftin/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/juftin/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/juftin/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/juftin/subscriptions\",\"organizations_url\":\"https://api.github.com/users/juftin/orgs\",\"repos_url\":\"https://api.github.com/users/juftin/repos\",\"events_url\":\"https://api.github.com/users/juftin/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/juftin/received_events\",\"type\":\"User\",\"site_admin\":false},\"html_url\":\"https://github.com/juftin/browsr\",\"description\":\"\U0001F5C2\uFE0F
                  a pleasant file explorer in your terminal supporting remote and local filesystems\",\"fork\":false,\"url\":\"https://api.github.com/repos/juftin/browsr\",\"forks_url\":\"https://api.github.com/repos/juftin/browsr/forks\",\"keys_url\":\"https://api.github.com/repos/juftin/browsr/keys{/key_id}\",\"collaborators_url\":\"https://api.github.com/repos/juftin/browsr/collaborators{/collaborator}\",\"teams_url\":\"https://api.github.com/repos/juftin/browsr/teams\",\"hooks_url\":\"https://api.github.com/repos/juftin/browsr/hooks\",\"issue_events_url\":\"https://api.github.com/repos/juftin/browsr/issues/events{/number}\",\"events_url\":\"https://api.github.com/repos/juftin/browsr/events\",\"assignees_url\":\"https://api.github.com/repos/juftin/browsr/assignees{/user}\",\"branches_url\":\"https://api.github.com/repos/juftin/browsr/branches{/branch}\",\"tags_url\":\"https://api.github.com/repos/juftin/browsr/tags\",\"blobs_url\":\"https://api.github.com/repos/juftin/browsr/git/blobs{/sha}\",\"git_tags_url\":\"https://api.github.com/repos/juftin/browsr/git/tags{/sha}\",\"git_refs_url\":\"https://api.github.com/repos/juftin/browsr/git/refs{/sha}\",\"trees_url\":\"https://api.github.com/repos/juftin/browsr/git/trees{/sha}\",\"statuses_url\":\"https://api.github.com/repos/juftin/browsr/statuses/{sha}\",\"languages_url\":\"https://api.github.com/repos/juftin/browsr/languages\",\"stargazers_url\":\"https://api.github.com/repos/juftin/browsr/stargazers\",\"contributors_url\":\"https://api.github.com/repos/juftin/browsr/contributors\",\"subscribers_url\":\"https://api.github.com/repos/juftin/browsr/subscribers\",\"subscription_url\":\"https://api.github.com/repos/juftin/browsr/subscription\",\"commits_url\":\"https://api.github.com/repos/juftin/browsr/commits{/sha}\",\"git_commits_url\":\"https://api.github.com/repos/juftin/browsr/git/commits{/sha}\",\"comments_url\":\"https://api.github.com/repos/juftin/browsr/comments{/number}\",\"issue_comment_url\":\"https://api.github.com/repos/juftin/browsr/issues/comments{/number}\",\"contents_url\":\"https://api.github.com/repos/juftin/browsr/contents/{+path}\",\"compare_url\":\"https://api.github.com/repos/juftin/browsr/compare/{base}...{head}\",\"merges_url\":\"https://api.github.com/repos/juftin/browsr/merges\",\"archive_url\":\"https://api.github.com/repos/juftin/browsr/{archive_format}{/ref}\",\"downloads_url\":\"https://api.github.com/repos/juftin/browsr/downloads\",\"issues_url\":\"https://api.github.com/repos/juftin/browsr/issues{/number}\",\"pulls_url\":\"https://api.github.com/repos/juftin/browsr/pulls{/number}\",\"milestones_url\":\"https://api.github.com/repos/juftin/browsr/milestones{/number}\",\"notifications_url\":\"https://api.github.com/repos/juftin/browsr/notifications{?since,all,participating}\",\"labels_url\":\"https://api.github.com/repos/juftin/browsr/labels{/name}\",\"releases_url\":\"https://api.github.com/repos/juftin/browsr/releases{/id}\",\"deployments_url\":\"https://api.github.com/repos/juftin/browsr/deployments\",\"created_at\":\"2023-05-03T05:26:39Z\",\"updated_at\":\"2023-12-10T01:37:27Z\",\"pushed_at\":\"2023-11-16T19:38:09Z\",\"git_url\":\"git://github.com/juftin/browsr.git\",\"ssh_url\":\"git@github.com:juftin/browsr.git\",\"clone_url\":\"https://github.com/juftin/browsr.git\",\"svn_url\":\"https://github.com/juftin/browsr\",\"homepage\":\"http://juftin.com/browsr/\",\"size\":15231,\"stargazers_count\":118,\"watchers_count\":118,\"language\":\"Python\",\"has_issues\":true,\"has_projects\":true,\"has_downloads\":true,\"has_wiki\":true,\"has_pages\":true,\"has_discussions\":false,\"forks_count\":7,\"mirror_url\":null,\"archived\":false,\"disabled\":false,\"open_issues_count\":5,\"license\":{\"key\":\"mit\",\"name\":\"MIT
                  License\",\"spdx_id\":\"MIT\",\"url\":\"https://api.github.com/licenses/mit\",\"node_id\":\"MDc6TGljZW5zZTEz\"},\"allow_forking\":true,\"is_template\":false,\"web_commit_signoff_required\":false,\"topics\":[\"file-explorer\",\"python\",\"s3\",\"textual\",\"tui\"],\"visibility\":\"public\",\"forks\":7,\"open_issues\":5,\"watchers\":118,\"default_branch\":\"main\",\"temp_clone_token\":null,\"network_count\":7,\"subscribers_count\":4}"
          headers:

              Content-Security-Policy:
                  - default-src 'none'
              Content-Type:
                  - application/json; charset=utf-8
              Date:
                  - Fri, 22 Dec 2023 02:07:03 GMT
              ETag:
                  - W/"5f419a39a5d15c54ae8cb52bdce7f33bf7b526027633c10b0d5df086f73e22d5"
              Last-Modified:
                  - Sun, 10 Dec 2023 01:37:27 GMT
              Referrer-Policy:
                  - origin-when-cross-origin, strict-origin-when-cross-origin
              Server:
                  - GitHub.com
              Strict-Transport-Security:
                  - max-age=31536000; includeSubdomains; preload
              Transfer-Encoding:
                  - chunked
              Vary:
                  - Accept
                  - Accept-Encoding, Accept, X-Requested-With
              X-Content-Type-Options:
                  - nosniff
              X-Frame-Options:
                  - deny
              X-GitHub-Media-Type:
                  - github.v3; format=json
              X-GitHub-Request-Id:
                  - FECE:78C9:8686C44:11501E51:6584EF47
              X-RateLimit-Limit:
                  - "60"
              X-RateLimit-Remaining:
                  - "59"
              X-RateLimit-Reset:
                  - "1703214423"
              X-RateLimit-Resource:
                  - core
              X-RateLimit-Used:
                  - "1"
              X-XSS-Protection:
                  - "0"
              x-github-api-version-selected:
                  - "2022-11-28"
          status:
              code: 200
              message: OK
[...]
